// Variables
$white: hsl(0, 100%, 100%);
$link-purple: hsl(228, 45%, 44%);
$purple-100: hsl(275, 100%, 97%);
$purple-600: hsl(292, 16%, 49%);
$purple-950: hsl(292, 42%, 14%);

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: $purple-100;
    font-family: 'Work Sans', sans-serif;
}

.faqContainer {
    background-color: $white;
    border-radius: 1rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 2rem;
    width: fit-content;

    .accordion {
        max-width: 536px;

        .accordion-item-header {
            padding: 0.5rem 2rem 0.5rem 0;
            min-height: 3.5rem;
            line-height: 1.25rem;
            font-size: 1.125rem;
            font-weight: 600;
            display: flex;
            align-items: center;
            position: relative;
            cursor: pointer;

            &::after {
                content: url("/assets/icon-plus.svg");
                position: absolute;
                right: 1rem;
            }
        }
    }
}

.attribution {
    font-size: 11px;
    text-align: center;

    a {
        color: $link-purple;
    }
}