// Variables
$white: hsl(0, 100%, 100%);
$link-purple: hsl(228, 45%, 44%);
$purple-100: hsl(275, 100%, 97%);
$purple-600: hsl(292, 16%, 49%);
$purple-950: hsl(292, 42%, 14%);

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: $purple-100;
    font-family: 'Work Sans', sans-serif;
}

.faqContainer {
    background-color: $white;
    border-radius: 1rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 2rem;
    max-width: 600px;
    width: 100%;

    .heading {
        display: flex;
        gap: 1.5rem;

        h1 {
            color: $purple-950;
            font-size: 3rem;
        }
    }

    .accordion {
        .accordion-item-header {
            color: $purple-950;
            padding-right: 2rem;
            min-height: 4rem;
            line-height: 1.25rem;
            font-size: 1.125rem;
            font-weight: 600;
            display: flex;
            align-items: center;
            position: relative;
            cursor: pointer;

            &::after {
                content: url("../assets/icon-plus.svg");
                position: absolute;
                right: 0;
            }

            &.active::after {
                content: url("../assets/icon-minus.svg");
            }

            // &.active+.accordion-item-body {
            //     display: block;
            // }
        }

        .accordion-item-body {
            max-height: 0;
            overflow: hidden;
            transition: max-height 0.2s ease-out;

            // display: none;
            .accordion-item-content {
                line-height: 1.5rem;
                padding-bottom: 1rem;
                color: $purple-600;
            }
        }

        hr {
            border-top: 0.5px solid $purple-100;
        }
    }
}

.attribution {
    font-size: 11px;
    text-align: center;

    a {
        color: $link-purple;
    }
}